/* Импорт стилей, шрифтов и иконок */
/* Сброс CSS */
@import url("https://marksheet.io/css/reset.css");
/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
/* Предустановки */
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
    display: flex;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* Гибкая верстка */
img {
    width: 100%;
    max-width: 100%;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }
}
/* Шапка сайта */
header {
    flex: 0 0 auto;
    color: #dedede;
    font-size: 25px;
    height: 87px;
    background-color: #f6f2ef;
}
header ul {
    justify-content: center;
    display: flex;
}
header li a {
    padding: 30px 10px;
    text-decoration: none;
    color: #dedede;

}
header > div.container {
    height: 100%;
    align-items: center;
    background-color: #332f30;
}
header li a:hover {
    background-color: #ff4043;
}
.video > div.container {
    height: 100%;
    padding: 10px 0;
}
.content > div.container {
    height: 100%;
    padding: 10px 0;
}
.Products > div.container {
    height: 100%;
    padding: 10px 0;
}
section {
    flex: 3 0 auto; /* 3 - это ширина столбца */
    padding: 0 90px;
}
.video {
    display: flex;
    flex: 1 0 auto;
    background-color: #F7F4F4;
}
.content {
    display: flex;
    flex: 1 0 auto;
    background-color: #ffffff;
}
.content img {
    height: 40px;
    width: 40px;
    margin-top: 20px;
}
.button {
    background-color: #ff2e2f;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}
.button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}
.prod > div {
    justify-content: center;
    display: flex;
}
.prod img {
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.Products {
    flex: 1 0 auto;
    background-color: #ffffff;
}
.prodmenu ul {
    color: black;
    background-color: #ffffff;
    margin-top: 10px;
    margin-right: 20px;
    height: 70px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.prodmenu ul li a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.prodmenu ul li a:hover {
    color: #768eaf;
    text-decoration: none;
}
.teamtop {
    text-align: center;
}
.active a {
    color: blue !important;
}
.team > div.container {
    height: 100%;
    padding: 10px 0;
}
.subscribe {
    background-color: black;
}
.subscribe > div.container {
    height: 100%;
    padding: 10px 0;
}
.subtext1 {
    color: white;
    text-align: center;
}
.subtext2 {
    color: gray;
    text-align: center;
}
.button1 {
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
}
.button1:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}


/* Подвал сайта */
footer {
    flex: 0 0 auto;
    background-color: #332f30;
    height: 50px;
    color: grey;
}
header a,
footer a {
    color: white;
    text-decoration: none;
}
header a:hover,
footer a:hover {
    text-decoration:none;
}
footer a img {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 8px;
}




























