@import url("https://marksheet.io/css/reset.css");

/*контейнер для содержимого страници*/
.container{
    width: 100%;
    max-width: 1024px;/*максимальная ширинаможет иметь дрегое значение*/
    padding: 0 15px;
    margin: 0 auto;
}

/*главное меню в шапке*/
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;/*обозначаем, что это flex-контейнер*/
}

/*главное меню в подвале*/
footer > nav{
    display: flex;/*обозначаем, что это flex-контейнер*/
}

/*предустановки для разметки flex-элементов:
row-горизонтально,
column-верткально*/
.row{
    flex-direction:row;
}
.column{
    flex-direction:column;
}
